<% layout('/layouts/boilerplate') -%>
<body>
  <h1>Edit Your Listings</h1>
  <form method="POST" action="/listings/<%= showDetails._id %>?_method=PUT">
    <div>
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= showDetails.title%>"
      />
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%= showDetails.description%></textarea
      >
    </div>
    <div>
      <label for="image">Image URL:</label>
      <input
        type="text"
        id="image"
        name="image"
        value="<%= showDetails.image%> "
      />
    </div>
    <div>
      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        value="<%= showDetails.price%> "
      />
    </div>
    <div>
      <label for="location">Location:</label>
      <input
        type="text"
        id="location"
        name="location"
        value="<%= showDetails.location%> "
      />
    </div>
    <div>
      <label for="country">Country:</label>
      <input
        type="text"
        id="country"
        name="country"
        value="<%= showDetails.country%> "
      />
    </div>
    <button type="submit">Edit</button>
  </form>
</body>
