<% layout('/layouts/boilerplate') -%>

  <body>
    <ul>
      <li><%= showDetails.title %></li>
      <li><%= showDetails.description %></li>
      <li>Price: &#x20b9; <%= showDetails.price.toLocaleString("en-IN") %></li>
      <li><%= showDetails.country %></li>
    </ul>
    <br />
    <a href="/listings/<%= showDetails._id %>/edit"> edit the list</a>
    <br /><br />
    <form method="post" action="/listings/<%= showDetails._id %>?_method=DELETE">
      <button>Delete this listings</button>
    </form>
  </body>
